@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Fraunces:opsz@9..144&display=swap');

#insta{
    height: 100vh;
    width: 100vw;
    background-color: #FFF4CC;
    position: relative;
}

.cont{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 12%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
}
.line1{
  width: 150% ;
}
.line1 img{
  display: inline;
}
.line1 span{
  
  font-family: Fraunces , serif;
  font-size: 130%;
  padding: 1%;
}
.instagram{
  font-family: Fraunces , serif;
  margin-top: 1.8%;
}
#feed{
    
    position: absolute;
    top: 13%;
   width: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

.feed1, .feed2,.feed3,.feed4{
  
  background-color: dodgerblue;
  color: white;
  /* padding: 1rem; */
  height: 25vw;
  
}

.feed1 img{
    object-fit: cover;
    height: 100%;
}
.feed2 img{
    object-fit: cover;
    height: 100%;
}
.feed3 img{
    object-fit: cover;
    height: 100%;
}
.feed4 img{
    object-fit: cover;
    height: 100%;
}

.snap{
    position: absolute;
    bottom: 5%;
    left: 35%;
    height: 10vw;
    width: 30%;
    align-items:center;
    justify-content: center;
    display: grid;
   grid-template-columns: 1fr 1fr
}

.camera{
 
  color: white;
  height: 5vw;
}
.camera img{
    height: 8vw;
}
.follow{
  
  color: black;
  font-family: 'Fraunces', serif;
  padding-top: 2rem; 
  margin-left: -15%;
  height: 5vw;
}


@media screen and (max-width: 767px){
  #feed{
    margin: 0;
    left: 30%;
    width: fit-content;
    padding: 2%;
    grid-template-columns: none;
    grid-template-rows: auto auto auto auto;
    gap: 0;
  }
  .feed1, .feed2,.feed3,.feed4{
  
    background-color: dodgerblue;
    color: white;
    padding:0;
    
    
  }
}